:root {
  --iris: #4d5ae5;
  --cloud: #F4F4FD;
  --navy: #2E2F42;
  --cornflower: #E7E9FC;
  --slate: #434455;
  --ocean: #404BBF;
}

* {
margin: 0 auto;
padding: 0;
max-width: 1440px;
}

.section {
  padding: 120px ;
}

/* body/general format*/
body {
  font-family: "Roboto", sans-serif;
  color: var(--slate);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  background-color: #FFFFFF;
}


 /* hidden */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* navy colored texts */
.logo-head,
.nav .list .link,
.list,
.section-title,
.item-title {
  color: var(--navy);
}

/* remove list style and padding */
.list {
  list-style: none;
  padding-left: 0;
}

/* link decoration */
.link {
  text-decoration: none;
}

/* ocean pseudo-class color */
.link:active,
.link:hover,
.link:focus, 
.nav .link:active,
.nav .link:hover,
.nav .link:focus, 
.contacts .link:active,
.contacts .link:hover,
.contacts .link:focus,
.footer .link:active,
.footer .link:hover,
.footer .link:focus {
  color: var(--ocean);
}

/* TEXT FORMATS*/
/* H2 */
.section-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  text-align: center;
}

/* h3 */
.item-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

/* buttons */
.hero-button,
.filter-button {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  border-radius: 4px;
  border: none;
}

/* image */
img {
  display: block;
}

.nav .link,
.footer .link {
  color: var(--iris);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.header {
  display: flex;
  width: 1440px;
  flex-shrink: 0;
  background-color: green;
  align-items: center;
  border-bottom: 1px solid var(--cornflower);
}

.header .container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav .link {
  display: flex;
  margin-right: 76px;
  align-items: center;
}

/* nav format */
.nav .list .link {
  display: inline-flex;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  padding: 24px 0;
  margin: 0;
}

.nav {
  display: flex;
  align-items: center;
}

.container .nav .list,
.container .contacts .list {
  display: flex;
  gap: 40px;
}

/* contacts format */
.contacts,
.contacts .link {
  font-style: normal;
  color: var(--slate);
}

/* Main format */
/* Hero/Section 1 Format*/
.hero-section {
  background-color: var(--navy);
  padding: 188px 0;
}

.hero-title {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07; /* 107.143% */
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;
    max-width: 496px;
}
.hero-button{
  background-color: var(--iris);
  color: #FFFFFF;
  min-width: 169px;
  height: 56px;
  display: block;
  margin: 0 auto;
}

.hero-button:hover,
.hero-button:active,
.filter-button:active,
.filter-button:hover,
.hero-button:focus,
.filter-button:focus  {
  background-color: var(--ocean);
  color: #FFFFFF ;
}


/* section 2 */
.section-two {
  padding: 120px 0;
}

.section .container .list {
  display: flex;
  gap: 24px;
  width: 1128px;
}

.section-two .list {
width: calc((100% - 72px) / 4);
}

.section-two .item-title {
  margin-bottom: 8px;
}

/* section 3 */
 .section-title {
  margin-bottom: 72px;
}

.section-three .list {
width: calc((100% - 3 * 16px) / 3);
}

/* section4 */
.section-four{
  text-align: center;
  background-color: var(--cloud);
  padding: 120px 0;
}

.team-list {
  background-color: #FFFFFF;
}

.section-four .list {
 width: calc((100% - 3 * 24px) / 4);
}

.section-four .team-list {
  border-radius: 0 0 4px 4px;
}

.section-four .container {
  padding: 32px 0;
}

.item-title {
  margin-bottom: 8px;
}

/* Footer */
.footer,
.logo-footer{
  color: var(--cloud);
}

.footer{
  background-color: var(--navy);
  padding: 100px 0;
}

.footer .link {
  display: inline-block;
  margin-bottom: 16px;
}

/* Portfolio */

.portfolio {
  padding: 96px 0 120px 0;
}

.portfolio .container{
  display: block;
}

.portfolio .container .filter {
  display: flex;
  justify-content: center;
  gap: 24px;
  max-width: 586px;
  margin-bottom: 72px;
}

.portfolio .container .items {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.filter-button{
  background-color: var(--cloud);
  color: var(--iris);
  text-align: center;
  padding: 12px 24px;
}

/* item format */
.pf-item,
.wwd,
.filter-button {
  border: 1px solid var(--cornflower);
  background: #FFFFFF;
}

.filter-button:active,
.filter-button:focus,
.filter-button:hover {
  border: 1px solid transparent;
}

.pf-item .container {
  padding: 32px 16px;
  border: 1px solid var(--cornflower);
  width: calc((100% - 48px) / 3);
}

