:root {
  --iris: #4d5ae5;
  --cloud: #F4F4FD;
  --navy: #2E2F42;
  --cornflower: #E7E9FC;
  --slate: #434455;
  --ocean: #404BBF;
}

* {
margin: 0;
padding: 0;
}

.container {
  display: flex;
}

.section {
  padding: 120px ;
}

/* body/general format*/
body {
  font-family: "Roboto", sans-serif;
  color: var(--slate);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  background-color: #FFFFFF;
}

 .selection-p{
  font-family: "Roboto", sans-serif;
  color: var(--slate);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  background-color: #FFFFFF;
 }

 /* hidden */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* navy colored texts */
.logo-head,
.nav .list .link,
.list,
.section-title,
.item-title {
  color: var(--navy);
}

/* remove list style and padding */
.list {
  list-style: none;
  padding-left: 0;
}

/* link decoration */
.link {
  text-decoration: none;
}

/* ocean pseudo-class color */
.link:active,
.link:hover,
.link:focus, 
.nav .link:active,
.nav .link:hover,
.nav .link:focus, 
.contacts .link:active,
.contacts .link:hover,
.contacts .link:focus,
.footer .link:active,
.footer .link:hover,
.footer .link:focus {
  color: var(--ocean);
}

/* TEXT FORMATS*/
/* H2 */
.section-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  text-align: center;
}

/* h3 */
.item-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

/* buttons */
.hero-button,
.filter-button {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  border: 0;
}

/* image */
img {
  display: block;
}

.nav .link,
.footer .link {
  color: var(--iris);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.header {
  display: flex;
  width: 1440px;
  flex-shrink: 0;
  background-color: green;
  align-items: center;
  border-bottom: 1px solid var(--cornflower);
}

.header .container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.nav .link {
  margin-right: 76px;
}

/* nav format */
.nav .list .link {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  padding: 24px 0;
}

.nav {
  display: flex;
  flex-direction: row;
  margin-right: 332px;
  align-items: center;
}

.container .nav .list,
.container .contacts .list {
  display: flex;
  align-items: flex-start;
  gap: 40px;
}

/* contacts format */
.contacts,
.contacts .link {
  font-style: normal;
  color: var(--slate);
}

/* Main format */
/* Hero/Section 1 Format*/
.hero-section {
  background-color: var(--navy);
}
.hero-title {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07; /* 107.143% */
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;
}
.hero-button{
  background-color: var(--iris);
  color: #FFFFFF;
}

.hero-button:hover,
.hero-button:active,
.filter-button:active,
.filter-button:hover,
.hero-button:focus,
.filter-button:focus  {
  background-color: var(--ocean);
  color: #FFFFFF
}

/* section4 */
.section-four{
  text-align: center;
  background-color: var(--cloud);
}
.team-list {
  background-color: #FFFFFF;
}

/* Footer */
.footer,
.logo-footer{
  color: var(--cloud);
}

.footer{
  background-color: var(--navy);
}


/* Portfolio */

.portfolio {
  padding: 96px 0 120px 0;
}

.filter-button{
  background-color: var(--cloud);
  color: var(--iris);
  text-align: center;
}

/* item format */
.pf-item,
.report,
.apps,
.articles {
  border: 1px solid var(--cornflower);
  background: #FFFFFF;
}